div#content {
  padding: 0;
}

#content {
  padding: 0;
}

// === issue ===
div.issue {
  background: none;
}

div.issue .attribute .label {
  color: #98a6ad;
  font-size: 14px;
  font-weight: 400;
  text-shadow: none;
  text-align: left;
  padding: 0;
}

.contextual {
  margin-top: 0;
}